
// page template
// expects a mixin named "content"

doctype html

html
	include head

	body
		include header

		section#top(data-start="height: 400px;" data-500-start="height: 60px;")
			div.jumbotron.jt--home
				div.background(data-start="background-position-y: 0px;" data-8000-start="background-position-y: -800px;")
					div.caption-container
						div.caption

		section#content(data-start="padding-top: 550px;" data-500-start="padding-top: 610px;")
			div.wrapper
				+content

		include footer
